* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(0, 0, 0, 0.4)),
				url("../img/interstellar.webp") no-repeat center center fixed;
	background-size: cover;
	font-family: "Open Sans", Helvetica;
	margin: 0;
	position: relative;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 3px;
}

.container {
	text-align: center;
}

.logo img {
	width: 200px; /* Change image size for mobile */
}

.logo h1 {
	color: #fff;
}

.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 18px 0 10px 0;
	margin-top: 50px;

}

.item img {
	margin-bottom: 7px;
	width: 75px;
}

.item {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.item:hover {
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
}

.img {
	width: 80%;
}

.title {
	font-weight: 300;
	font-size: 17px;
	color: white;
}

.title,
.subtitle {
	margin: 0;
	padding: 0;
}

.subtitle {
	color: #d5d5d5;
	font-size: 12px;
	padding: 0px 15px 10px 15px;;
}


@media(min-width: 400px) {
	.logo img {
		width: 280px; /* Change image size for mid sized devices */
	}
}

@media(min-width: 1250px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 15px;
	}

	.logo img {
		width: 470px; /* Change image size for desktop */
	}

	.logo {
		margin-bottom: 28px;
	}
	.img {
		width: 100%;
	}
	.items {
		padding: 30px 0 20px 0;
	}
	.extrapad {
		padding: 0 42.5px;
	}
}

@media(min-width: 1000px) {
	.items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item:not(:first-child) {
		margin-left: 90px;
	}
}