@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Light.woff2);
    /*src: url(fonts/Quicksand-Light.ttf);*/
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.woff2);
    /*src: url(fonts/Quicksand-Regular.ttf);*/
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Medium.woff2);
    /*src: url(fonts/Quicksand-Medium.ttf);*/
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-SemiBold.woff2);
    /*src: url(fonts/Quicksand-SemiBold.ttf);*/
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Bold.woff2);
    /*src: url(fonts/Quicksand-Bold.ttf);*/
    font-weight: 700;
    font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(0, 0, 0, 0.4)),
				url("../img/interstellar.webp") no-repeat center center fixed;
	background-size: cover;
	font-family: Quicksand, sans-serif;
	margin: 0;
	position: relative;
}

html, body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 3px;
}

.container {
	text-align: center;
	height: 100vh;
}

.logo img {
	width: 200px; /* Change image size for mobile */
}

.logo h1 {
	color: #fff;
	font-weight: 400;
	font-size: 80px;
}

.items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 18px 0 10px 0;
	margin-top: 50px;
	flex-wrap: wrap;

}

.item img {
	margin-bottom: 7px;
	width: 75px;
}

.item {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 50px;
	width: 350px;
}

.item-container {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 8px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	margin: 20px;
	padding: 20px;
	border-radius: 16px;
}

.item:hover {
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
}

.img {
	width: 80%;
}

.title {
	font-weight: 500;
	font-size: 20px;
	color: white;
}

.title,
.subtitle {
	margin: 0;
	padding: 0;
}

.subtitle {
	color: #d5d5d5;
	font-size: 16px;
	padding: 0px 20px 10px 20px;;
}


@media(max-width: 1250px) {
	.item {
		width: 60%!important;
	}
}

@media(max-width: 720px) {
	.item {
		width: 80%!important;
	}
}

@media(min-width: 1000px) {
	.items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
